@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Lovers+Quarrel&family=Poppins:wght@600&family=Raleway:wght@300;400&display=swap');

/*_____________________Fonts_____

**logo
font-family: 'Lovers Quarrel', cursive;
font-family: 'Dynalight', cursive;
**body text
font-family: 'Raleway', sans-serif;
**titles
font-family: 'Poppins', sans-serif;


/*_____________________nabvar_____*/
.navbar-brand {
	color: #b43333;
	font-size: 40px;
	margin-left: 50px;
	font-family: 'Lovers Quarrel', cursive;
}

.navbar-light .navbar-brand {
	color: #b43333;
}

.navbar-light:hover .navbar-brand {
	color: #ffffff;
}

.bg-light {
	background-color: #272727 !important;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("images/hamburger-menu-icon-transp.png");
}

.navbar-toggler {
	padding: .25rem .75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: #08080800;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.navbar-light .navbar-toggler {
	color: rgba(0, 0, 0, .5);
	border-color: #727679;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
	background-color: #32f09100;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
	font-size: 13px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #b43333;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 0.1px;
	border-style: outset;
	background-color: #272727;
}
/*_____________________container_section_____*/

.h1 {
	font-weight: 50;
	color: #eee;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
}

.hithere {
	color: #fff;
	font-size: 12px;
	text-align: justify;
	font-family: 'Raleway', sans-serif;
}

.img-fluid {
	max-width: 60%;
	height: auto;
	margin-left: 180px;
	padding-top: 15px;
	padding-bottom: 15px;
}
@media only screen and (max-width: 900px) {
	.img-fluid {
		max-width: 90%;
		height: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
}

.col-md-6 {
	align-items: center;
	justify-content: center;
	margin-top: 0px;
}

body {
	background-color: rgb(247, 245, 245);
	max-width: 960px;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}
header {
	padding: 0px;
	margin-left: 30px;
	margin-right: 30px;
}

/*_____________________footer_____*/

footer {
	width: 100%;
	background-color: #888888;
	color: rgb(0, 0, 0);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.fa {
	padding: 0;
	font-size: 20px;
	width: 50px;
	height: 50px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	text-decoration: none;
	color: #b43333;
}

.fa-facebook {
	color: white;
	margin: 0;
}

.fa-twitter {
	color: white;
	margin: 0;
}

.fa-linkedin {
	color: white;
	margin: 0;
}

.fa-instagram {
	color: white;
	margin: 0;
}

.credits-footer {
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
	color: rgb(0, 0, 0);
	text-align: center;
	text-decoration: none;
}

.navbar {
	padding: 0px;
	margin: 0px;
}

.col {
	padding: 0px;
	margin: 0px;
}

/*_____________________buttons_____*/

.btn-primary {
	color: #fff;
	background-color: #b43333;
	border-color: #b43333;
	border-radius: 20px;
	font-size: 12px;
}

.btn-primary:hover {
	color: #fff;
	background-color: #706e6e;
	border-color: #706e6e;
}

section {
	background-color: #272727;
	padding-left: 0px;
	padding-right: 0px;
}

aside {
	margin-top: 100px;
	padding-top: 0px;
	margin-right: 30px;
}

aside {
	background-color: #272727;
}

@media only screen and (max-width: 500px) {
	aside {
		margin-top: 0px;
		margin-left: 0px;
		padding: 20px;
	}
}

.label:after {
	content: ' ALEX FERNANDES';
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
}

.label:hover:after {
	content: ' A WEB DEVELOPER';
	font-family: 'Poppins', sans-serif;
	text-emphasis: none;
	color: #b43333;
	font-size: 40px;
}

.wrapper {
	padding: 0px;
	margin: 0px;
}
