@import url("https://fonts.googleapis.com/css2?family=Dynalight&family=Lovers+Quarrel&family=Poppins:wght@600&family=Raleway:wght@300;400&display=swap");

/*_____________________Fonts_____

**logo
font-family: 'Lovers Quarrel', cursive;
font-family: 'Dynalight', cursive;
**body text
font-family: 'Raleway', sans-serif;
**titles
font-family: 'Poppins', sans-serif;

/*_____________________nabvar_____*/

.navbar-brand {
	color: #b43333;
	font-size: 40px;
	margin-left: 50px;
	font-family: "Lovers Quarrel", cursive;
}

@media only screen and (max-width: 900px) {
	.navbar-brand {
		display: none;
	}
}

.navbar-light .navbar-brand {
	color: #b43333;
}
.navbar-light:hover .navbar-brand {
	color: #ffffff;
}

.bg-light {
	background-color: #272727 !important;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("images/hamburger-menu-icon-transp.png");
}
.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: #08080800;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	margin-top: 10px;
}

.navbar-light .navbar-toggler {
	color: rgba(0, 0, 0, 0.5);
	border-color: #727679;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
	background-color: #32f09100;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
	font-size: 13px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #b43333;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 0.1px;
	border-style: outset;
	border-color: #b43333;
	background-color: #b43333;
}

/*_____________________container_section_____*/
.container {
	background-color: #272727;
	padding-left: 7.5px;
	padding-right: 7.5px;
}

main {
	background-color: #272727;
}

.row {
	align-items: center;
	text-align: center;

	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.col {
	padding: 0px;
	margin: 0px;
}

.navbar {
	padding: 0px;
	margin: 0px;
}

td,
th {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-align: left;
}

p {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: #ffffff;
}

.col-sm {
	margin-top: 20px;
	margin-bottom: 20px;
}

h4 {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	color: #ffffff;
	margin-left: 70px;
}

.col {
	color: #eee;
	padding-left: 0px;
	margin-top: 0px;
	align-items: center;
}

body {
	background-color: rgb(247, 245, 245);
	max-width: 960px;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}

.bg-light {
	background-color: #272727 !important;
}

.display-4 {
	color: #fdfdfd;
	background-color: #272727;
	font-family: "Poppins", sans-serif;
	font-size: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.jumbotron {
	background-color: #272727;
	border-radius: 0.3rem;
	padding: 0px;
}

.jumbotron-fluid {
	margin-bottom: 0;
}

.lead {
	color: #fff;
	font-size: 9px;
	text-align: center;
	font-family: "Raleway", sans-serif;
	display: flex;
	justify-content: center;
}

/*_____________________footer_____*/
footer {
	width: 100%;
	background-color: #888888;
	color: rgb(0, 0, 0);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.fa-star {
	color: yellow;
	color: white;
	margin: 0;
}

.fa {
	padding: 0;
	font-size: 20px;
	width: 50px;
	height: 50px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	text-decoration: none;
	color: #b43333;
}

.fa-facebook {
	color: white;
	margin: 0;
}

.fa-twitter {
	color: white;
	margin: 0;
}

.fa-linkedin {
	color: white;
	margin: 0;
}

.fa-instagram {
	color: white;
	margin: 0;
}

.credits-footer {
	font-size: 10px;
	font-family: "Raleway", sans-serif;
	color: rgb(0, 0, 0);
	text-align: center;
	text-decoration: none;
}

header {
	padding: 0;
	margin: 0px;
}

/*_____________________buttons_____*/
.btn-primary {
	color: #fff;
	background-color: #b43333;
	border-color: #b43333;
	border-radius: 10px;
	font-size: 12px;
	align-items: center;
}

.btn-primary:hover {
	color: #fff;
	background-color: #706e6e;
	border-color: #706e6e;
}

.btn-primary {
	color: #fff;
	background-color: #b43333;
	border-color: #b43333;
	border: #b43333;
	font-size: 12px;
	border-radius: 50px;
	padding: 10px 25px 10px 25px;
}

.wrapper {
	padding: 0px;
	margin: 0px;
}
