@import url("https://fonts.googleapis.com/css2?family=Dynalight&family=Lovers+Quarrel&family=Poppins:wght@600&family=Raleway:wght@300;400&display=swap");

/*_____________________Fonts_____

**logo
font-family: 'Lovers Quarrel', cursive;
font-family: 'Dynalight', cursive;
**body text
font-family: 'Raleway', sans-serif;
**titles
font-family: 'Poppins', sans-serif;
 */

/* hr {
	border-color: #b43333;
} */

#box {
	align-items: center;
	text-align: center;
	border-radius: 0rem;
	font-size: 12px;
	padding: 20px;
	background-color: #313131be;
	margin: 5px 20px 0px 20px;
	box-shadow: 2.5px 5px 4px #000000;
}

/*_____________________navbar_____*/
/* .navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
	font-size: 13px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #b43333;
} */

.bg-light {
	background-color: #272727 !important;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("images/hamburger-menu-icon-transp.png");
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: #08080800;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	margin-top: 10px;
}

.navbar-light .navbar-toggler {
	color: rgba(0, 0, 0, 0.5);
	border-color: #727679;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
	background-color: #32f09100;
}

/*_____________________container_section_____*/
td,
th,
tr {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-align: left;
	padding: 10px;
}

p {
	color: #ffffff;
	align-items: center;
	text-align: center;
	size: 10px;
}
.h1 {
	font-weight: 50;
	color: rgb(255, 255, 255);
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	text-align: left;
}

@media only screen and (max-width: 900px) {
	.h1 {
		position: relative;
		z-index: auto;
		top: -40px;
	}
}

h4 {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	color: #fff2f2;
}

h5 {
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	padding-bottom: 10px;
	color: #ffffff;
}

h6 {
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
}

i {
	color: rgb(255, 255, 255);
	font-size: 12px;
}

#contactStyle {
	align-items: center;
	margin-top: 30px;
	margin-bottom: 40px;
	color: gray;
	display: inline-block;
	position: relative;
	width: 100%;
}

.hithere {
	color: #ffffff;
	font-size: 12px;
	text-align: justify;
	font-family: "Raleway", sans-serif;
}

.img-fluid {
	max-width: 75%;
	height: auto;
	margin: 20px;
}
@media only screen and (max-width: 900px) {
	.img-fluid {
		max-width: 90%;
		height: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
}
.col-md-6 {
	align-items: center;
	justify-content: center;
	width: 550px;
	background-color: #272727 !important;
}

body {
	background-color: #ffffff;
	max-width: 960px;
	margin: 0 auto;
	overflow-y: scroll;
}

/*_____________________footer_____*/
footer {
	width: 100%;
	background-color: #888888;
	color: rgb(0, 0, 0);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.fa {
	padding: 0;
	font-size: 10px;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	margin: 0px;
}

.fa:hover {
	text-decoration: none;
	color: #b43333;
}

.fa-github {
	color: white;
	margin: 0;
}

.fa-twitter {
	color: white;
	margin: 0;
}

.fa-linkedin {
	color: white;
	margin: 0;
}

.fa-instagram {
	color: white;
	margin: 0;
}

.credits-footer {
	font-size: 10px;
	font-family: "Raleway", sans-serif;
	color: rgb(0, 0, 0);
	text-align: center;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

/*_____________________buttons_____*/

.btn-primary {
	color: #fff;
	background-color: #b43333;
	border-color: #b43333;
	border-radius: 20px;
	font-size: 12px;
	margin-left: 20px;
}

.btn-primary:hover {
	color: #fff;
	background-color: #706e6e;
	border-color: #706e6e;
}

.btn-primary {
	color: #fff;
	background-color: #b43333;
	border-color: #b43333;
	border-radius: 20px;
	font-size: 12px;
}

.btn-primary:hover {
	color: #fff;
	background-color: #706e6e;
	border-color: #706e6e;
}

/*_____________________cover_____*/

.label:after {
	content: " ALEX FERNANDES";
	font-family: "Poppins", sans-serif;
	font-size: 40px;
}

.label:hover:after {
	content: " A WEB DEVELOPER";
	font-family: "Poppins", sans-serif;
	text-emphasis: none;
	color: #b43333;
	font-size: 40px;
}
aside {
	margin-top: 100px;
	padding-top: 0px;
	margin-right: 30px;
}

@media only screen and (max-width: 500px) {
	aside {
		margin-top: 0px;
		margin-left: 0px;
		padding: 20px;
	}
}

/*_____________________cover ANIMATION_____*/

.typerwriter-outterwrap {
	min-height: 100%;
	overflow: hidden;
	top: 0;
	left: 100px;
	position: relative;
	z-index: auto;
	left: -0px;
}

@media only screen and (max-width: 500px) {
	.typerwriter-outterwrap {
		content: "\a";
		white-space: pre;
		font-size: 40px;
		position: absolute;
		z-index: auto;
		left: 25px;
		top: -120px;
	}
}

.typewriter-wrap {
	/* height: calc(100vh - 8em); */
	color: #b43333;
}

.typewriter-line {
	position: relative;
}

.line {
	position: relative;
	top: 50%;
	margin: 0 auto;
	border-right: 2px solid rgba(255, 255, 255, 0.75);
	/* font-size: 100%; */
	/* text-align: center; */
	white-space: nowrap;
	overflow: hidden;
	/* transform: translateY(-50%); */
}

.line1 {
	width: 8.5em;
}

.line2 {
	width: 9em;
}

/*Animation*/

.anim-typewriter1 {
	animation: typewriter1 2s steps(480) 1s 1 normal both,
		blinkTextcursor 500ms steps(480) infinite normal;
}

.anim-typewriter2 {
	animation: typewriter2 2s steps(180) 1s 1 normal both,
		blinkTextcursor 500ms steps(180) infinite normal;
}

@keyframes typewriter1 {
	from {
		width: 0;
	}

	to {
		width: 8.1em;
	}
}

@keyframes typewriter2 {
	from {
		width: 0;
	}

	to {
		width: 9em;
	}
}

@keyframes blinkTextcursor {
	from {
		border-right-color: #fff;
	}

	to {
		border-right-color: transparent;
	}
}

.col {
	padding: 0px;
	margin: 0px;
	color: #eee;
	text-align: center;
}

table {
	border-spacing: 10px;
}

.display-4 {
	color: #ffffff;
	font-family: "Poppins", sans-serif;
	font-size: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.jumbotron {
	border-radius: 0.3rem;
	padding: 0px;
}

.jumbotron-fluid {
	margin-bottom: 0;
}

.lead {
	font-size: 9px;
	text-align: center;
	font-family: "Raleway", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #eee;
}

/*_____________________contact form____________*/

input[type="text"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;

	resize: vertical;
}

input[type="submit"] {
	background-color: #b43333;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#animation-2 {
	color: #b43333;
	text-align: left;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

.wrapper {
	background-color: #000000ea;
}

#formContainer {
	border-radius: 5px;
	background-color: #000000ab;
	padding: 20px;
}

input[type="submit"] {
	background-color: #b43333;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

/*  DONE DONE DONE DONE DONE DONE DONE DONE DONE DONE DONE DONE DONE DONE  */
.progressBoxText {
	position: relative;
	float: left;
	color: #fff;
	padding: 8px;
	z-index: 99999;
}
.progress {
	min-height: 30px;
	overflow: hidden;
}

.progress .determinate {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #b43333;
	-webkit-transition: width 0.3s linear;
	transition: width 0.3s linear;
}
